*{
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier, serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body {
    background: url("../img/background.png") no-repeat;
    background-size: 100%;
}
.nav_bar{
    background-color: rgba(0, 0, 0, 0.4);
    height: 9%;
    color: white;
}
.container{
    height: 91%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.journey{
    padding-top: 22px;
    margin-left: 100px;
    margin-right: 52%;
    font: 23px/20px Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier;
    display: inline-block;
}
.journey a{
    text-decoration: none;
    color: white;
}
.journey a:hover{
    color: #3cb878;
}
.icons{
    position: relative;
    display: inline-block;
}
.icons li{
    margin-top: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}
.first{
    left: 0;
    width: 19px;
    height: 19px;
    background-position: -60px -5px;
}
.second{
    left: 47px;
    width: 28px;
    height: 20px;
    background-position: -118px -5px;
}
.third{
    left: 103px;
    width: 20px;
    height: 20px;
    background-position: -194px -5px;
}
.first:hover {
    background-position: -89px -5px;
}
.second:hover{
    background-position: -156px -5px;
}
.third:hover{
    background-position: -224px -5px;
}
.sprite{
    background-image: url("../img/spritesheet.png");
}
.line{
    left: 148px;
    height: 20px;
    width: 1px;
    background-color: #505050;
}
.welcome{
    display: inline-block;
    margin-left: 125px;
}
.welcome a, .login a, .checkbox a{
    color: #3cb878;
    text-decoration: none;
}
.welcome a:hover, .login a:hover, .checkbox a:hover{
    text-decoration: underline;
}
form{
    height: 584px;
    width: 444px;
    background-color: white;
    border-radius: 10px;
    color: #434343;
}
.top{
    position: relative;
    height: 63px;
}
.square{
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 38px;
    left: 0;
}
.sign{
    position: absolute;
    font-size: 20pt;
    color: #434343;
    top: 29px;
    left: 61px;
}
.login {
    position: absolute;
    font-size: 14pt;
    top: 33px;
    right: 61px;
}
.social{
    padding-left: 61px;
}
.social button:first-child{
    display: inline-block;
    height: 46px;
    width: 157px;
    border: 1px solid #305db8;
    background-color: #305db8;
    color: white;
    border-radius: 3px;
    font-size: 16pt;
    position: relative;
}
.social button:nth-child(2){
    margin-left: 5px;
    display: inline-block;
    height: 46px;
    width: 157px;
    border: 1px solid #df4a32;
    background-color: #df4a32;
    color: white;
    border-radius: 3px;
    font-size: 16pt;
    position: relative;
}
.f_icon{
    position: absolute;
    top: 13px;
    left: 20px;
    width: 10px;
    height: 20px;
    background-position: -40px -5px;
}
.g_icon{
    position: absolute;
    top: 15px;
    left: 13px;
    width: 25px;
    height: 16px;
    background-position: -5px -5px;
}
.line2{
    position: absolute;
    top: 9px;
    left: 45px;
    height: 28px;
    width: 1px;
    background-color:#224387;
}
.line3{
    position: absolute;
    top: 9px;
    left: 45px;
    height: 28px;
    width: 1px;
    background-color:#af3a28;
}
.text{
    margin-left: 42px;
}
.or{
    padding-top: 8px;
    margin-left: 61px;
}
.or p{
    display: inline-block;
    width: 28px;
    padding-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hr{
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #d6d6d6;
}
.inputs input{
    display: block;
    width: 303px;
    height: 46px;
    margin:  9px auto 0;
    line-height: 24px;
    border: 1px solid  #d6d6d6;
    border-radius: 3px;
    padding-left: 19px;
}
.inputs input::placeholder{
    color: #d6d6d6;
}
.inputs input:focus{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.22),
    0 10px 10px rgba(0, 0, 0, 0.22);
    outline: none;
}
input[type="checkbox"]{
    display: none;
}
.checkbox{
    margin-top: 15px;
}
.checkbox label:before{
    content: "";
    color: #3cb878;
    display: inline-block;
    font: 25px/15px Arial;
    background: white;
    margin-right: 20px;
    margin-left: 61px;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    border: 1px solid  #d6d6d6;
}
input:checked + label:before{
    content: "\2714";
    color: #3cb878;
    font-weight: bold;
    font-size: xx-large;
}
form input[type="submit"] {
    display: block;
    background: #3cb878;
    height: 46px;
    width: 322px;
    font-size: 20px;
    border-radius: 3px;
    color: white;
    border: 1px solid #3cb878;
    margin: 20px auto 0;
}