* {
    margin: 0;
    padding: 0;
    font-family:  Verdana, Arial, serif;
    color: white;
}
.cont {
    width: 1052px;
    height: 768px;
    background-image: url(../img/hw3.png);
    background-size: cover;
    padding: 0 150px;
}
header img{
    float: left;
    margin: 51px 0 44px 0;
    display: inline-block;
    height: 44px;
}
.text{
    float: left;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    line-height: 1.5em;
    margin: 49px 0 44px 15px;
}
.text:first-line{
    font-size: 29px;
}
main {
    clear: both;
}
.cord{
    float: right;
    font-size: 18px;
    text-align: right;
    margin: 55px 0 44px 0;
}
.img_one {
    float: left;
    width: 307px;
    height: 200px;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, white 0%, black 100%);
    -webkit-border-image: -webkit-linear-gradient(top, white 0%, black 100%);
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    background-size: cover;
    margin-right: 62px;
    position: relative;
}
.img_two {
    float: left;
    width: 307px;
    height: 200px;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, white 0%, black 100%);
    -webkit-border-image: -webkit-linear-gradient(top, white 0%, black 100%);
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    background-size: cover;
    position: relative;
}
.text1{
    float: left;
    width: 307px;
    height: 63px;
    background-size: cover;
    margin-right: 65px;
    padding-top: 14px;
    text-align: center;
    font-size: 16px;
}
.text2 {
    float: left;
    width: 307px;
    height: 63px;
    background-size: cover;
    padding-top: 14px;
    text-align: center;
    font-size: 16px;
}
footer {
    clear: both;
    font-size: 12px;
    text-align: center;
}
.window{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    height: 53px;
    width: 265px;
    margin-top: 137px;
    background: #ff6600;
    padding:10px 21px 0 21px;
    display:none;
}
.img_one:hover .window{
    display:block;
}
.img_two:hover .window{
    display:block;
}
a{
    text-decoration: none;
}
a:hover{
    color: #ff6600;
}
.from {
    font-size: 10px;
    text-align: left;
}
.price {
    font-size: 22px;
    display: inline-block;
}
.details{
    font-size: 14px;
    display: inline-block;
    margin-left: 115px;
}
.details:after{
    content: ">";
}
.logos{
    position:relative;
}
.logo{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    height: 44px;
    width: 46px;
    display:none;
}
.logos:hover .logo{
    display:block;
}