body, html {
  font-family: 'Lato', sans-serif; }

a:hover {
  cursor: pointer;
  text-decoration: none; }

.header {
  font-size: 12px;
  height: 37px;
  width: 100%;
  background-color: #373c3f;
  color: white;
  display: flex;
  justify-content: space-between; }
  .header__navigation {
    padding: 11px 0 0 18px;
    display: inline-block; }
  .header-menu {
    width: 182px;
    position: absolute;
    top: 37px;
    right: 0;
    background-color: #fafafa;
    display: none; }
    .header-menu a {
      text-decoration: none;
      color: #444444; }
    .header-menu__item {
      font-family: 'Lato', sans-serif;
      height: 23px;
      border: 0.5px #e1e1e1 solid;
      font-size: 12px;
      padding: 8px 0 0 12px; }
      .header-menu__item:active {
        background-color: #f5f5f5; }
  .header-logo {
    display: none; }
  .header i {
    height: 12px;
    width: 14px;
    background-color: #202529;
    padding: 12px 12px 12px 15px;
    font-size: 13px; }
    .header i:hover {
      cursor: pointer; }
  .header .fa-times {
    display: none; }

.article {
  background-image: url("../img/header-fon_@1X.png");
  background-size: 320px 173px;
  height: 139px;
  padding: 15px 20px 19px;
  font-weight: bold;
  margin-bottom: 4px; }
  .article__text {
    color: white;
    font-size: 16px;
    padding-bottom: 5px; }
  .article__mail {
    padding-top: 3px;
    color: #a6d6e0;
    font-size: 14px; }

.menu-item {
  height: 74px;
  font-size: 20.5px;
  display: flex;
  margin-bottom: 2px;
  text-align: center;
  color: white;
  pointer-events: none;
  cursor: default; }
  .menu-item--pizza {
    background: url("../img/Pizza_delivery_fon@1X.png") 110% 95%; }
  .menu-item--salads {
    background: url("../img/Salads_fon@1X.png") 10% 95%; }
  .menu-item--desserts {
    background: url("../img/Desserts_fon@1X.png") 50% 15%; }
  .menu-item__arrow {
    color: white;
    background-color: #acd8ad;
    padding-top: 27px;
    width: 92px;
    font-size: 12px;
    display: inline-block;
    pointer-events: auto; }
  .menu-item__text {
    width: 100%;
    font-weight: bold;
    color: white;
    padding-top: 24px;
    text-decoration: none; }

.info {
  padding: 19px 0 0 8px; }
  .info-logo {
    display: none; }
  .info__name--big {
    font-size: 20px;
    color: #3f4043; }
  .info__name--small {
    font-size: 10px;
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 10px;
    color: #cbccce; }

.price {
  color: #3f4043;
  padding-bottom: 29px; }
  .price-wrapper {
    padding-bottom: 16px; }
  .price__title {
    height: 20px;
    padding: 7px 0 10px 18px;
    font-size: 20px; }
    .price__title--grey {
      background-color: #3f4043;
      color: #acd8ad; }
    .price__title--green {
      background-color: #acd8ad;
      color: white; }
  .price-subtitle {
    display: flex;
    justify-content: space-between;
    padding: 11px 17px 10px 17px;
    font-size: 15px; }
    .price-subtitle__img {
      height: 25px;
      width: auto; }
    .price-subtitle__text {
      padding-top: 5px; }
  .price-li {
    padding: 6px 17px 4px; }
    .price-li-item {
      font-size: 13.5px;
      display: flex;
      justify-content: space-between; }
      .price-li-item__sum {
        font-weight: bold; }
    .price-li__ingredients {
      font-size: 9px;
      padding-top: 5px; }

.footer {
  width: 100%;
  height: 32px;
  color: white;
  background-color: #acd8ad;
  padding: 12px 0 11px;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat, sans-serif; }
  .footer-logo {
    display: none; }

@media (min-width: 640px) {
  .header {
    font-size: 24px;
    height: 74px; }
    .header__navigation {
      padding: 27px 0 0 38px; }
    .header-menu {
      width: 243px;
      top: 74px; }
      .header-menu__item {
        height: 28px;
        font-size: 14px;
        padding: 14px 0 0 27px; }
    .header i {
      height: 26px;
      width: 28px;
      padding: 24px;
      font-size: 26px; }
  .article {
    background-size: 640px 346px;
    height: 316px;
    padding: 30px 0 0 38px;
    margin-bottom: 6px; }
    .article__text {
      font-size: 36px;
      padding-bottom: 16px; }
    .article__mail {
      padding-top: 6px;
      font-size: 24px; }
  .menu-item {
    height: 150px;
    font-size: 36px;
    margin-bottom: 3px; }
    .menu-item--pizza {
      background: url("../img/Pizza_delivery_fon@1X.png") 0 80%;
      background-size: 499px 499px; }
    .menu-item--salads {
      background: url("../img/Salads_fon@1X.png") 0 85%;
      background-size: 499px 499px; }
    .menu-item--desserts {
      background: url("../img/Desserts_fon@1X.png") 0 50%;
      background-size: 499px 499px; }
    .menu-item__arrow {
      padding-top: 54px;
      width: 200px;
      font-size: 24px; }
    .menu-item__text {
      padding-top: 48px; }
  .info {
    padding: 38px 0 0 16px; }
    .info__name--big {
      font-size: 40px; }
    .info__name--small {
      font-size: 20px;
      padding-top: 2px;
      padding-bottom: 20px; }
  .price {
    padding-bottom: 58px; }
    .price-wrapper {
      padding-bottom: 32px; }
    .price__title {
      height: 40px;
      padding: 15px 0 20px 36px;
      font-size: 40px; }
    .price-subtitle {
      padding: 22px 34px 20px 34px;
      font-size: 30px; }
      .price-subtitle__img {
        height: 48px; }
      .price-subtitle__text {
        padding-top: 10px; }
      .price-subtitle__img--glass {
        padding-right: 18px;
        padding-top: 4px; }
    .price-li {
      padding: 12px 34px 8px; }
      .price-li-item {
        font-size: 27px; }
      .price-li__ingredients {
        font-size: 17px;
        padding-top: 10px; }
  .footer {
    height: 64px;
    padding: 24px 0 22px;
    font-size: 24px; } }

@media (min-width: 980px) {
  .header {
    height: 97px;
    display: flex;
    justify-content: space-between; }
    .header__navigation {
      display: none; }
    .header-logo {
      display: inline-block;
      height: 83px;
      padding: 8px 30px 0 0; }
    .header-menu {
      display: block;
      position: static;
      background-color: #373c3f;
      width: 100%;
      padding-left: 30px; }
      .header-menu a {
        color: white; }
      .header-menu__item {
        font-size: 15px;
        text-transform: uppercase;
        display: inline-block;
        border: none;
        padding: 45px 32px 0 0; }
    .header i {
      display: none; }
  .article {
    background-size: 980px 530px;
    height: 465px;
    padding: 55px 0 0 30px;
    margin-bottom: 6px; }
    .article__text {
      font-size: 54px;
      padding-bottom: 15px; }
    .article__mail {
      padding-top: 20px;
      font-size: 34px; }
  .menu {
    display: flex; }
    .menu-item {
      height: 327px;
      width: 33.4%;
      font-size: 38px;
      margin-bottom: 0;
      pointer-events: auto; }
      .menu-item--pizza {
        background: url("../img/Pizza_delivery_fon@1X.png");
        background-size: 327px 327px; }
      .menu-item--salads {
        background: url("../img/Salads_fon@1X.png");
        background-size: 327px 327px; }
      .menu-item--desserts {
        background: url("../img/Desserts_fon@1X.png");
        background-size: 327px 327px; }
      .menu-item__arrow {
        display: none; }
      .menu-item__text {
        padding-top: 145px; }
  .info {
    padding: 45px 30px 16px;
    display: flex;
    justify-content: space-between; }
    .info-logo {
      display: inline-block;
      height: 89px;
      width: 109px; }
    .info__name--big {
      padding-top: 17px;
      font-size: 34px; }
    .info__name--small {
      font-size: 20px;
      padding: 6px 0 0 0; }
  .price {
    width: 50%; }
    .price-wrapper {
      display: flex;
      padding-bottom: 32px; }
    .price__title {
      height: 57px;
      padding: 18px 0 0 18px;
      font-size: 34px; }
    .price-subtitle {
      padding: 29px 14px 0 19px;
      font-size: 28px; }
      .price-subtitle__img {
        height: 42px; }
      .price-subtitle__text {
        padding-top: 12px; }
    .price-li {
      padding: 24px 14px 0 14px; }
      .price-li-item {
        font-size: 24px; }
      .price-li__ingredients {
        font-size: 16px;
        padding-top: 17px; }
  .footer {
    display: flex;
    justify-content: space-between;
    height: 97px;
    text-align: center;
    font-size: 18px;
    padding: 0; }
    .footer-logo {
      display: inline-block;
      height: 83px;
      padding: 7px 0 0 30px; }
    .footer-text {
      display: flex;
      padding: 40px 30px 0 0; } }

@media (min-width: 1200px) {
  .header-logo {
    padding-right: 38px; }
  .header-menu {
    padding-left: 38px; }
  .article {
    background-size: 1200px 649px;
    height: 604px;
    padding: 45px 0 0 37px;
    margin-bottom: 6px; }
    .article__text {
      font-size: 62px;
      padding-bottom: 1px; }
    .article__mail {
      padding-top: 39px;
      font-size: 38px; }
  .menu-item {
    height: 400px;
    font-size: 43px; }
    .menu-item--pizza, .menu-item--salads, .menu-item--desserts {
      background-size: 400px 400px; }
    .menu-item__text {
      padding-top: 182px; }
  .info {
    padding-top: 40px; }
    .info-logo {
      height: 98px;
      width: 120px; }
    .info__name--big {
      font-size: 40px; }
    .info__name--small {
      font-size: 22px;
      padding-top: 4px; }
  .price__title {
    height: 59px;
    font-size: 40px; }
  .price-subtitle {
    padding: 25px 10px 5px 23px;
    font-size: 30px; }
    .price-subtitle__img {
      height: 48px; }
    .price-subtitle__text {
      padding-top: 10px; }
  .price-li {
    padding: 18px 10px 0 23px; }
    .price-li-item {
      font-size: 27px; }
    .price-li__ingredients {
      font-size: 17.5px;
      padding-top: 15px; }
  .footer {
    display: flex;
    justify-content: space-between;
    height: 97px;
    text-align: center;
    font-size: 18px;
    padding: 0; }
    .footer-logo {
      display: inline-block;
      height: 83px;
      padding: 7px 0 0 30px; }
    .footer-text {
      display: flex;
      padding: 40px 30px 0 0; } }
