body{
    font-family: 'Arimo', sans-serif;
    color: rgba(72, 72, 72, 255);
}
table{
    border: 22px solid #3a4965;
    border-collapse: collapse;
    text-align: center;
}
td{
    width: 277px;
    height: 69px;
    border-collapse: collapse;
}
.first{
    box-shadow: -5px 0 5px -5px #b5b6b9 inset
}
 .third, .fourth{
    box-shadow: 5px 0 5px -5px #b5b6b9 inset;
}
.buttons button{
    height: 49px;
    width: 192px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    margin: 0 auto 0;
    padding: 6px 0 0 0;
    transition: font-size 0.2s linear;
}
.buttons .first button{
    background-color: #484848;
    border: 1px solid #484848;
    border-bottom: 6px solid #404040;
}
.buttons .fourth button{
    background-color: #20807c;
    border: 1px solid #20807c;
    border-bottom: 6px solid #16736f;
}
.buttons .second button{
    background-color: #89c331;
    border: 1px solid #89c331;
    border-bottom: 6px solid #79b027;
}
.buttons .third button{
    background-color: #f04a56;
    border: 1px solid #f04a56;
    border-bottom: 6px solid #df3a46;
}
.buttons{
    height: 110px;
    background-color: #eeeeee;
}
.buttons button:hover{
    font-size: 22px;
}
.buttons .first{
    background-color: #dddddd;
}
.one .first {
    font-size: 18px;
    font-weight: bold;
    width: 310px;
    background-color: #fafafa;
    height: 156px;
}
.bigger{
    font-size: 30px;
}
.one .second{
    background-color: #89c331;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 70px;
}
.one .third{
    background-color: #f04a56;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 70px;
}
.one .fourth{
    background-color: #20807c;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 70px;
}
.three, .five, .seven{
    background-color: #f2f2f2;
}
.four, .six, .eight{
    background-color: #e3e3e3;
}
.two .second, .two .third, .two .fourth{
    position: relative;
    height: 86px;
    width: 277px;
}
.two .big{
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    font-size: 60px;
    font-weight: bold;
    height: 66px;
    margin: 0;
    padding: 13px 0;
    text-align: right;
}
.two .middle{
    position: absolute;
    top: 0;
    left: 130px;
    width: 144px;
    font-size: 24px;
    font-weight: bold;
    height: 24px;
    margin: 0;
    padding: 22px 0 0 0;
    text-align: left;
}
.two .little{
    position: absolute;
    top: 40px;
    left: 130px;
    width: 142px;
    font-size: 18px;
    height: 36px;
    margin: 0;
    padding: 10px 0 0 3px;
    text-align: left;
}

